<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kids.counting.math.games">

    <application

        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Newfreemathgames"
        >
        <activity  android:name="com.mopub.common.MoPubBrowser"
            android:configChanges="keyboardHidden|orientation|screenSize" />

        <activity android:name="com.facebook.ads.AudienceNetworkActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:hardwareAccelerated="true" />
        <activity
            android:name="com.kids.counting.math.games.CountingActivity"
            android:exported="true"
            android:theme="@style/custom_theme"/>
        <activity
            android:name="com.kids.counting.math.games.Completemunu"
            android:exported="true"
            android:theme="@style/custom_theme" />
        <activity
            android:name="com.kids.counting.math.games.Competition"
            android:exported="true"
            android:theme="@style/custom_theme" />
        <activity
            android:name="com.kids.counting.math.games.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.kids.counting.math.games.secondActivity"
            android:theme="@style/custom_theme" />
        <activity
            android:name="com.kids.counting.math.games.Addition"
            android:theme="@style/custom_theme" />
        <activity
            android:name="com.kids.counting.math.games.Subtraction"
            android:theme="@style/custom_theme" />
        <activity
            android:name="com.kids.counting.math.games.Multiplication"
            android:theme="@style/custom_theme" />
        <activity
            android:name="com.kids.counting.math.games.Division"
            android:theme="@style/custom_theme" />
        <activity
            android:name="com.kids.counting.math.games.ScoreActivity"
            android:theme="@style/custom_theme" />
    </application>

</manifest>